@model MAMS_Models.Model.Deposit
@{
    var status = ViewBag.DepositAddStatus;

}

@{
    ViewData["Title"] = "Add Deposit";
}


<script src="~/js/jquery-191-min.js"></script>


<div class="card">
    <div class="card-header card-header-primary">
        <h5 class="card-title"><i class="fa fa-pencil-square-o"></i> Debit Add</h5>
    </div>
    <div class="card-body">
        <form id="DepositForm" enctype="multipart/form-data" action="/Deposit/DepositAdd" method="post">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" required>

                        <select class="form-select form-control" required id="slctType" onchange="getCustType(this);" asp-for="CustomerType">
                            <option value="">Select Customer Type</option>
                            <option value="Merchant">Merchant</option>
                            <option value="Farmer">Farmer</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" required>

                        <select class="form-select form-control" required id="slctName" asp-for="FKCustomer">
                            <option value="">Select Customer Name</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Total Price</label>
                        <input type="text" id="totalPrice"  min="1" max="2147483647" required asp-for="TotalCash" class="form-control">
                        <span id="error-message" style="color: red; display: none;">Total Cash is greate than Cash In Hand.</span>
                        <span id="error-message" style="color: red; display: none;">Please enter a value greater than or equal to 1.</span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Complete Detail</label>
                        <div class="form-group">
                            <textarea class="form-control" required asp-for="Detail" rows="5" id="Detail"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" required>
                        <select class="form-select form-control" required id="slctstatus" asp-for="Status">
                            <option value="Pending" selected>Payment Pending</option>
                            <option value="Sent">Payment Sent</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="row float-right">
                <div class="form-group">
                    <a type="button" class="btn btn-success btn-round float-right" asp-controller="Deposit" asp-action="Index">
                        <i class="fa fa-arrow-left"></i> Back
                    </a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-round btn-success">
                        <i class="fa fa-plus-circle"></i> Add
                    </button>
                    <div class="clearfix"></div>
                </div>

            </div>
        </form>

    </div>
</div>


<!-- #region  alert -->
<div id="alertSuccess" data-notify="container" class="col-11 col-md-4 alert alert-success alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; left: 0px; right: 0px;">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
        <i class="material-icons">close</i>
    </button><i data-notify="icon" class="material-icons">add_alert</i><span data-notify="title"></span> <span data-notify="message"><b>Deposit</b> <br>Deposit added successfuly!</span>
    <a href="Deposit/Index" target="_blank" data-notify="url"></a>
</div>
<div id="alertDanger" data-notify="container" class="col-11 col-md-4 alert alert-danger alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; left: 0px; right: 0px;">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
        <i class="material-icons">close</i>
    </button><i data-notify="icon" class="material-icons">add_alert</i><span data-notify="title"></span> <span data-notify="message"><b>Deposit</b> <br>Deposit added not successfuly!</span>
    <a href="#" target="_blank" data-notify="url"></a>
</div>
<!-- #endregion -->
<!-- #region Loader -->
<div class="overlay">
    <div id="loading-img"></div>
</div>
<!-- #endregion -->
<!-- #region Javascript -->
@section Scripts {

    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/bootstrap-notify.js"></script>
}
<script type="text/javascript">
    var cashInHand = parseInt('@ViewBag.CashHistory');
    function getCustType(type) {

        var type = type.value;
        if (type != "") {
            $.ajax({
                type: "POST",
                url: "/Purchase/GetCustomerType",
                data: {
                    'cusType': type
                },
                success: function (data) {

                    $('#slctName').empty();
                    $('#slctName').append('<option value="">Select Customer Name</option> ');
                    $.each(data.data.customers, function (i, e) {

                        $('#slctName').append(new Option(e.name, e.uid));
                    });


                },
                error: function (jqXHR, textStatus, errorThrown) {

                    alert('Error: ' + textStatus + ' - ' + errorThrown);
                }
            });
        }

    }

    $("#alertSuccess").hide();
    $("#alertDanger").hide();
    debugger;
    var status = ('@status');
    if (status == "Success") {
        $('#alertSuccess').show();
        setTimeout(function () {
            window.location.href = '/Deposit/Index';
        }, 2000);
    }
    if (status == "0") {
        $("#alertDanger").show();
        setTimeout(function () {
            $("#alertDanger").hide();
        }, 5000);
    }

    document.getElementById('totalPrice').addEventListener('input', function () {
        var totalPriceInput = document.getElementById('totalPrice');
        var errorMessage = document.getElementById('error-message');

        if (totalPriceInput.value > cashInHand) {
            errorMessage.style.display = 'block';
            totalPriceInput.setCustomValidity('Total Cash is greate than Cash In Hand');

        }
        // if (totalPriceInput.value === '0') {
        //     errorMessage.style.display = 'block';
        //     totalPriceInput.setCustomValidity('Please enter a value greater than or equal to 1.');

        // }
      

        else {
            errorMessage.style.display = 'none';
            totalPriceInput.setCustomValidity('');
        }
    });
    // $(document).ready(function () {

    //     $(document).ready(function () {
    //         $('#btnSave').click(function (e) {
    //             e.preventDefault();


    //             if ($('#slctType').val() === '' || $('#slctName').val() === '' || $('#TotalPrc').val() === '' || $('#Detail').val() === '' || $('#slctstatus').val() === '') {
    //                 alert('Please fill out all required fields.');
    //                 return;
    //             }


    //             var formData = {
    //                 'CustomerType': $('#slctType').val(),
    //                 'FKCustomer': $('#slctName').val(),
    //                 'TotalCash': $('#TotalPrc').val(),
    //                 'Detail': $('#Detail').val(),
    //                 'Status': $('#slctstatus').val(),
    //             };


    //             $.ajax({
    //                 type: 'POST',
    //                 url: '/Credit/CreditAdd',
    //                 data: formData,
    //                 success: function (data) {

    //                     console.log(data);

    //                     $('#alertSuccess').show();
    //                     setTimeout(function () {
    //                         window.location.href = '/Credit/Index';
    //                     }, 2000);
    //                 },
    //                 error: function (xhr, status, error) {

    //                     console.log(xhr.responseText);
    //                     $('#alertDanger').show();
    //                 }
    //             });
    //         });
    //     });
    // });





    // $('input[type=number]').on('mousewheel', function (e) {
    //     $(e.target).blur();
    // });

    // function showLoader() {
    //     $(".overlay").show();
    // }
    // function hideLoader() {
    //     $(".overlay").hide();
    // }
</script>
<!-- #endregion -->
<!-- #region   Style/CSS -->
<style>
    input#idPricePerKG {
        padding-left: 0px;
    }

    input {
        text-align: center;
    }

    .validation {
        color: red;
        margin-bottom: 20px;
    }

    input#idTotalExpense {
        min-width: 60px;
        max-width: 120px;
        /*margin-left: 110px;*/
        margin-top: -36px;
    }

    label#idLblPrcWithExp {
        margin-top: 35px;
    }

    input#idPriceWithExpense {
        /* padding-left: 130px;*/
        font-weight: 600;
    }

    #idLblPriceWithExpense {
        margin-top: -20px;
    }

    input#totallWeight {
        /*  padding-left: 155px;*/
        font-weight: 600;
    }

    input#totallPrice {
        /*padding-left: 50px;*/
        font-weight: 600;
    }

    i.fa.fa-plus {
        font-size: 15px !important;
    }

    #btnSave {
        background-color: #35663b;
    }

    #btnBack {
        background-color: #35663b;
    }

    #btnAdd {
        background-color: #2e9ead;
        border-color: #0cb9cf;
        color: white;
    }

    i.material-icons {
        float: left;
    }

    input.form-control {
        border: 0px;
    }

    label {
        font-size: 16px;
    }

    option {
        color: #fff;
        background-color: #363945;
    }

    select {
        border: 0px !important;
    }

    div#inputsRow {
        margin-top: 1%;
    }

    input#totallWeight {
        border-bottom: 1px dotted #d2d2d2;
    }

    #loading-img {
        z-index: 100;
        background: url("../images/ajax-loading.gif") center center no-repeat;
        height: 100%;
    }

    .overlay {
        background: #e9e9e9;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }
</style>
<!-- #endregion -->
