################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MAMS/FileContentIndex/214221ed-612b-4645-9cfe-8fccf4b3079a.vsidx
/.vs/MAMS/FileContentIndex/88e4fa4a-1c1a-4639-8b30-990b66894e54.vsidx
/.vs/MAMS/FileContentIndex/983cc6bf-9dfc-41a3-95b8-29e076b0a1d9.vsidx
/.vs/MAMS/FileContentIndex/d6f57a54-2e4f-48f1-82ef-90a82f347d4f.vsidx
/MAMS/.vs/MAMS/FileContentIndex/1a341707-b895-4fcc-ad42-3a373f85f898.vsidx
/MAMS/.vs/MAMS/FileContentIndex/29a67294-8b12-47c5-b983-70edb20d80b6.vsidx
/MAMS/.vs/MAMS/FileContentIndex/8351c0ad-0147-4b1d-b937-d74611f3d9b9.vsidx
/MAMS/.vs/MAMS/FileContentIndex/bc48e6b2-4140-487a-930c-e17f7647096a.vsidx
/MAMS/.vs/MAMS/FileContentIndex/e5162bc3-4891-48d2-8f89-955e8866ca10.vsidx
/.vs/MAMS/v17/.wsuo
/.vs/MAMS/v17/workspaceFileList.bin
/.vs/VSWorkspaceState.json
/MAMS/.vs/MAMS/FileContentIndex/343302c4-9f33-4ea9-a57b-8dbab1a0e68a.vsidx
/MAMS/.vs/MAMS/FileContentIndex/fb6e63c0-71da-485b-8e61-db766d36820d.vsidx
