@model MAMS_Models.Model.User
@{
    var status = ViewBag.UserAddStatus;
    var Roles = ViewBag.Roles as List<MAMS_Models.Model.Role>;
    var Branches = ViewBag.Branches as List<MAMS_Models.Model.Branch>;

    IEnumerable<SelectListItem> BranchesList;
    IEnumerable<SelectListItem> RolesList;
    if (Roles != null && Roles.Count > 0)
    {
        RolesList = Roles.Select(x => new SelectListItem() { Text = x.Name, Value = x.UID.ToString() });
    }
    else
    {
        RolesList = Enumerable.Empty<SelectListItem>();
    }
    if (Branches != null && Branches.Count > 0)
    {
        BranchesList = Branches.Select(x => new SelectListItem() { Text = x.Name, Value = x.UID.ToString() });
    }
    else
    {
        BranchesList = Enumerable.Empty<SelectListItem>();
    }
    ViewData["Title"] = "User";
  
}

 
<script src="~/js/jquery-191-min.js"></script>

<!-- #region Customer detail form -->
<div class="card">
    <div class="card-header card-header-primary">
        <h5 class="card-title"><i class="fa fa-pencil-square-o"></i> Create User</h5>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" asp-action="UserAdd" asp-controller="User" method="post">
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-control" required id="cusSlct" asp-items="@BranchesList" asp-for="@Model.BranchUID">
                            <option value="">Select Branch</option>
                            
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="bmd-label-floating">User Name</label>
                        <input type="text" asp-for="Name" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="bmd-label-floating">Phone</label>
                        <input type="text" asp-for="Phone" min="0" max="2147483647" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="bmd-label-floating">Email</label>
                        <input type="text" asp-for="Email" class="form-control">
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="bmd-label-floating">City</label>
                        <input type="text" asp-for="City" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="bmd-label-floating">Country</label>
                        <input type="text" asp-for="Country" class="form-control">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="pwd" class="bmd-label-floating">Passward</label>
                        <input type="password"   class="form-control" asp-for="Passward" id="idPassward" required>


                       @*  <label for="pwd">Password:</label>
                        <input type="password" id="pwd" name="pwd" minlength="8"><br><br> *@
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="bmd-label-floating">CNIC</label>
                        <input type="text" asp-for="CNIC" min="0" max="2147483647" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Complete Adress</label>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" asp-for="Address"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <select class="form-control" asp-for="RoleID" required id="cusSlct" asp-items="@RolesList">
                            <option value="">Select User Role</option>
                            @* <option value="1">Admin</option>
                            <option value="2">Owner</option>
                            <option value="3">Accountant</option> *@
                        </select>
                    </div>
                </div>
                <div class="col-md-4  col-sm-4">
                    <div class="form-group" required>

                        <label class="control-label bold">Status</label>
                        <div>
                            <input type="checkbox" asp-for="Status" class="form-control form-control-inline" checked>
                        </div>

                    </div>
                </div>


            </div>
            <div class="row float-right">
                <div class="form-group">
                    <a type="button" class="btn btn-success btn-round float-right" asp-controller="User" asp-action="Index">
                        <i class="fa fa-arrow-left"></i> Back
                    </a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-round btn-success">
                        <i class="fa fa-plus-circle"></i> Add
                    </button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- #endregion -->
<!-- #region  alert -->
<div id="alertSuccess" data-notify="container" class="col-11 col-md-4 alert alert-success alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; left: 0px; right: 0px;">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
        <i class="material-icons">close</i>
    </button><i data-notify="icon" class="material-icons">add_alert</i><span data-notify="title"></span> <span data-notify="message"><b>User</b> <br>New User added successfuly!</span>
    <a href="#" target="_blank" data-notify="url"></a>
</div>
<div id="alertDanger" data-notify="container" class="col-11 col-md-4 alert alert-danger alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; left: 0px; right: 0px;">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
        <i class="material-icons">close</i>
    </button><i data-notify="icon" class="material-icons">add_alert</i><span data-notify="title"></span> <span data-notify="message"><b>User</b> <br>New User added not successfuly!</span>
    <a href="#" target="_blank" data-notify="url"></a>
</div>
<!-- #endregion -->
<!-- #region  javascript-->
@section Scripts {

    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/bootstrap-notify.js"></script>
}
<script type="text/javascript">


    $("#alertSuccess").hide();
    $("#alertDanger").hide();
    debugger;
    var status = ('@status');
    if (status == "1") {
        $('#alertSuccess').show();
        setTimeout(function () {
            window.location.href = '/User/Index';
        }, 2000);
    }
    if (status == "0") {
        $("#alertDanger").show();
        setTimeout(function () {
            $("#alertDanger").hide();
        }, 5000);
    }


    function getval(sel) {
        var CheckCust = $('#cusSlct').val();
        if (CheckCust != null && CheckCust == "Merchant") {
            $("#idShopName").removeAttr("disabled");
        } else {
            $("#idShopName").val("");
            $("#idShopName").prop("disabled", true);
        }
    }
</script>
<!-- #endregion -->
<!-- #region   Style/CSS -->
<style>
    #cusSlct {
        border: 0px !important;
    }

    /* i.material-icons {
                float: left;
            }*/

    input.form-control {
        border: 0px !important;
    }

    .form-control[disabled], fieldset[disabled] .form-control, .form-group .form-control[disabled], fieldset[disabled] .form-group .form-control {
        border-bottom: 1px dotted #d2d2d2 !important;
    }

    option {
        background-color: black;
        color: white;
    }

    i.fa.fa-arrow-left {
        font-size: 13px !important;
    }

    i.fa.fa-plus-circle {
        font-size: 15px !important;
    }

    input#Status {
        margin-top: -500px;
        margin-left: 60px;
        width: 20px;
        display: inline;
    }

</style>
<!-- CSS section of the first page -->
<!-- #endregion -->