
@{
    ViewData["Title"] = "Expense";
}
<script src="~/js/jquery-191-min.js"></script>
<style>
    #imagePreview img {
        max-width: 150px;
        margin: 10px;
    }

    .document-area {
        border: 1px solid #d2d2d2;
        padding: 15px;
        border-radius: 4px;
    }

    .image-container {
        display: inline-block;
        position: relative;
        margin: 10px;
    }

    .remove-button {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 22px;
        font-size: 14px;
    }
</style>
<form id="BasicForm" enctype="multipart/form-data">
    <!-- #region Expense form -->
    <div class="card">
        <div class="card-header card-header-primary">
            <h5 class="card-title"><i class="far fa-newspaper"></i> Add Expense</h5>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <label class="bmd-label-floating">Expense Details</label>
                        <input type="text" class="form-control" id="expDes">
                    </div>
                </div>
                <div class="col-md-4" style="display:none">
                    <div class="form-group">
                        <label class="bmd-label-floating"> UID</label>
                        <input type="number" class="form-control" min="0" id="idUID" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Amount</label>
                        <input type="text" id="totalPrice"  min="1" max="2147483647"  class="form-control">
                        <span id="error-message" style="color: red; display: none;">Total Cash is greate than Cash In Hand.</span>
                        <span id="error-message" style="color: red; display: none;">Please enter a value greater than or equal to 1.</span>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                        <a class="btn btn-primary" id="btnAdd">
                            <i class="fa fa-plus"></i>
                            Add
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="container">
                        <table id="expnsTable" class="table table-striped table-bordered table-hover fontJameel">
                            <thead>
                                <tr class="heading" role="row">
                                    <th width="20%" class="textAllignRight">Expense &nbsp;</th>
                                    <th width="15%" class="textAllignRight">Amount &nbsp;</th>
                                    <th width="10%" class="textAllignRight" style="text-align:center">Action &nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="itemTableBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-sm-3 col-md-3" id="idLblPriceWithExpense">
                    <label class="bmd-label-floating">Total Expense</label>
                    <input type="text" class="form-control" id="idTotalExpense" disabled>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <label>Documents Area</label>
                    <div class="form-group document-area">

                        <div class="form-group">
                            <div id="imagePreview" class="mb-3"></div>
                            <div class="form-group">
                                <div class="custom-file">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="file" class="custom-file-input" name="UserFiles" id="UserFiles" multiple>
                                            <label class="custom-file-label" for="UserFiles">Choose files</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Submitt button of purchase -->
    <div class="row float-right">
        <div class="form-group">
            <a type="button" class="btn btn-success btn-round" id="btnBack" asp-controller="Expense" asp-action="Index">Back</a>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-round" id="btnSave">Save</button>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- #endregion -->
</form>
<!-- #region alert -->
<div id="alertSuccess" data-notify="container" class="col-11 col-md-4 alert alert-success alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; left: 0px; right: 0px;">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
        <i class="material-icons">close</i>
    </button><i data-notify="icon" class="material-icons">add_alert</i><span data-notify="title"></span> <span data-notify="message"><b>Expense</b> <br> added successfully!</span>
    <a href="#" target="_blank" data-notify="url"></a>
</div>
<div id="alertDanger" data-notify="container" class="col-11 col-md-4 alert alert-danger alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; left: 0px; right: 0px;">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
        <i class="material-icons">close</i>
    </button><i data-notify="icon" class="material-icons">add_alert</i><span data-notify="title"></span> <span data-notify="message"><b>Crop</b> <br>Purchase crop added not successfully!</span>
    <a href="#" target="_blank" data-notify="url"></a>
</div>
<!-- #endregion -->
<!-- #region Loader -->
<div class="overlay">
    <div id="loading-img"></div>
</div>
<!-- #endregion -->
<!-- #region Javascript -->
@section Scripts {
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/bootstrap-notify.js"></script>
}
<script type="text/javascript">
    $("#alertSuccess").hide();
    $("#alertDanger").hide();
    var itemDetailList = [];
     var cashInHand = parseInt('@ViewBag.CashHistory');
   
    $("#btnAdd").click(function() {
     
        var expDes = $("#expDes").val();
        var amount = $("#totalPrice").val();

        if(expDes && amount) {

            $('#expnsTable tbody').append('<tr class="child">' +
                '<td><font class="fontsize">' + expDes + '</font></td>' +
                '<td><font class="fontsize">' + amount + '</font></td>' +
                '<td><div class="text-center">' +
                '<button class="icon-btn" style="height:30px;min-width:35px;margin:0;padding:0;border:0px" id="btnDelExpns">' +
                '<i class="fa fa-trash" style="color:red"></i>' +
                ' </button>' +
                '</div></td>' +
                '</tr>');
            itemDetails = { Description: expDes, ExpenseAmmount: amount };
            itemDetailList.push(itemDetails);
            $("#expDes").val("");
            $("#amount").val("");

            var items = 0;
            $('#expnsTable tbody tr td:nth-child(2)').each(function () {
                items = items + parseInt($(this).text());
            });
            var price = $("#totallPrice").val();
            if (price == "") {
                price = "0";
            }
            var priceWithExp = parseInt(price) + parseInt(items);
            $("#idTotalExpense").val(parseInt(items) + '  RS');
            $("#idPriceWithExpense").val(parseInt(priceWithExp) + '  RS');

           
        }
    });
    $("#expnsTable").on('click', "#btnDelExpns", function () {

        event.preventDefault();
        var row = $(this).closest('tr');
        var iId = $.trim($(this).closest('tr').find("td:eq(0)").text());
        var iName = $.trim($(this).closest('tr').find("td:eq(2)").text());
        var itmPrice = $.trim($(this).closest('tr').find("td:eq(1)").text());
        $("#txtExpenseDescription").val("");
        $.confirm({
            theme: 'material',
            title: ' Confirm ',
            content: ' Delete Confirmation ',
            type: 'orange',
            typeAnimated: true,
           
            buttons: {
                cancel: {
                    text: 'Cancel',
                    btnClass: 'btn-red',
                    action: function () {
                    }
                },
                tryAgain: {
                    text: 'Yes',
                    btnClass: 'btn-green',
                    action: function () {
                        $.each(itemDetailList, function (i, val) {
                            if (val != null) {
                                var iiID = val.itemId;
                                if (iiID == iId) {
                                    itemDetailList.splice($.inArray(val, itemDetailList), 1);
                                }

                            }
                        });
                        row.remove();
                        var price = $("#idPriceWithExpense").val();
                        if (price == "") {
                            price = "0";
                        }
                        var priceWithExp = parseInt(price) - parseInt(itmPrice);

                        var items = 0;
                        $('#expnsTable tbody tr td:nth-child(2)').each(function () {
                            items = items + parseInt($(this).text());
                        });
                        $("#idTotalExpense").val(parseInt(items) + '  RS');
                        $("#idPriceWithExpense").val(parseInt(priceWithExp) + '  RS');
                    },
                    error: function () {
                    },
                    complete: function () {
                        hideLoader();
                    },
                }

            }
        });
    });
    // Button Save data 
    // $(document).ready(function () {
       
    //     $('#btnSave').on('click', function () {
    //         debugger;

    //         var expItems = [];
    //         var files = $('#UserFiles')[0].files;  // Get all selected files

    //         $("#expnsTable tbody").find('tr').each(function (i) {
    //             var $tds = $(this).find('td'),
    //                 description = $tds.eq(0).text(),
    //                 amount = $tds.eq(1).text(),
    //                 UID = 0;

    //             var itemDetails = { ExpDescription: description, Amount: parseInt(amount), UID: UID };
    //             expItems.push(itemDetails);
    //         });

    //         var formData = new FormData();  // Create a FormData object
    //         formData.append('expItems', JSON.stringify(expItems));   

    //         // Append each file to FormData
    //         for (var i = 0; i < files.length; i++) {
    //             formData.append('UserFiles', files[i]);
    //         }

    //         $.ajax({
    //             type: "POST",
    //             url: "/Expense/ExpenseAdd",
    //             data: formData,
    //             contentType: false,   
    //             processData: false,   
    //             success: function (data) {
    //                 console.log("AJAX call successful:", data);
    //                 if (data.success === "true") {
    //                     $('#alertSuccess').show();
    //                     setTimeout(function () {
    //                         window.location.href = '/Expense/Index';
    //                     }, 2000);
    //                 } else {
    //                     console.log("Error: Unexpected response format.");
    //                 }
    //             },

    //             error: function (xhr, status, error) {
    //                 console.log(xhr.responseText);
    //                 $("#alertDanger").show();
    //             }
    //         });
    //     });
    // });
    $(document).ready(function () {
        $('#btnSave').on('click', function (e) {
            e.preventDefault(); // Prevent the default button behavior

            var expItems = [];
            var files = $('#UserFiles')[0].files;  // Get all selected files

            $("#expnsTable tbody").find('tr').each(function (i) {
                var $tds = $(this).find('td'),
                    description = $tds.eq(0).text(),
                    amount = $tds.eq(1).text(),
                    UID = 0;

                var itemDetails = { ExpDescription: description, Amount: parseInt(amount), UID: UID };
                expItems.push(itemDetails);
            });

            var formData = new FormData();  // Create a FormData object
            formData.append('expItems', JSON.stringify(expItems));

            // Append each file to FormData
            for (var i = 0; i < files.length; i++) {
                console.log("Appending file:", files[i]); // Log the file being appended
                formData.append('UserFiles', files[i]);
            }

            // Log the form data entries for debugging
            for (var pair of formData.entries()) {
                console.log(pair[0] + ': ' + pair[1]);
            }

            $.ajax({
                type: "POST",
                url: "/Expense/ExpenseAdd",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log("AJAX call successful:", data);
                    if (data.success === "true") {
                        $('#alertSuccess').show();
                        $('#expnsTable tbody').empty(); // Clear the expense table
                        $('#UserFiles').val(''); // Clear the file input if needed
                        setTimeout(function () {
                            window.location.href = '/Expense/Index';
                        }, 2000);
                    } else {
                        console.log("Error: Unexpected response format.");
                    }
                },

                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    $("#alertDanger").show();
                }
            });
        });
    });

      document.getElementById('totalPrice').addEventListener('input', function () {
        var totalPriceInput = document.getElementById('totalPrice');
        var errorMessage = document.getElementById('error-message');

        if (totalPriceInput.value > cashInHand) {
            errorMessage.style.display = 'block';
            totalPriceInput.setCustomValidity('Total Cash is greate than Cash In Hand');

        }
        // if (totalPriceInput.value === '0') {
        //     errorMessage.style.display = 'block';
        //     totalPriceInput.setCustomValidity('Please enter a value greater than or equal to 1.');

        // }
      

        else {
            errorMessage.style.display = 'none';
            totalPriceInput.setCustomValidity('');
        }
    });

// Update the total expense
function updateTotalExpense() {
    var totalExpense = itemDetailList.reduce((sum, item) => sum + item.amount, 0);
    $("#idTotalExpense").val(totalExpense.toFixed(2));
}

    
    $(document).on("click", ".delete-btn", function() {
        var rowIndex = $(this).closest('tr').index();
        itemDetailList.splice(rowIndex, 1);
        $(this).closest('tr').remove();
        // updateTotalExpense();
    });
    document.getElementById('UserFiles').addEventListener('change', function (event) {
        const imagePreview = document.getElementById('imagePreview');
        imagePreview.innerHTML = '';
        const files = event.target.files;

        for (let i = 0; i < files.length; i++) {
            const file = files[i];

            if (file.type.startsWith('image/')) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const imageContainer = document.createElement('div');
                    imageContainer.className = 'image-container';
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    const removeButton = document.createElement('button');
                    removeButton.className = 'remove-button';
                    removeButton.innerHTML = '&times;';
                    removeButton.onclick = function () {
                        imageContainer.remove();
                    };
                    imageContainer.appendChild(img);
                    imageContainer.appendChild(removeButton);
                    imagePreview.appendChild(imageContainer);
                }

                reader.readAsDataURL(file);
            }
        }
    });
</script>
<!-- #endregion -->
<!-- #region Style/CSS -->
<style>
    input#idPricePerKG {
        padding-left: 0px;
    }
    input {
        text-align: center;
    }
    .validation {
        color: red;
        margin-bottom: 20px;
    }
    input#idTotalExpense {
        min-width: 60px;
        max-width: 120px;
        margin-top: -36px;
    }

    #imagePreview img {
        max-width: 150px;
        margin: 10px;
    }

    .image-container {
        display: inline-block;
        position: relative;
        margin: 10px;
    }
    label#idLblPrcWithExp {
        margin-top: 35px;
    }
    input#idPriceWithExpense {
        font-weight: 600;
    }
    #idLblPriceWithExpense {
        margin-top: -20px;
    }
    input#totallWeight {
        font-weight: 600;
    }
    input#totallPrice {
        font-weight: 600;
    }
    i.fa.fa-plus {
        font-size: 15px !important;
    }
    #btnSave {
        background-color: #35663b;
    }
    #btnBack {
        background-color: #35663b;
    }
    #btnAdd {
        background-color: #2e9ead;
        border-color: #0cb9cf;
        color: white;
    }
    i.material-icons {
        float: left;
    }
    input.form-control {
        border: 0px;
    }
    label {
        font-size: 16px;
    }
    option {
        color: #fff;
        background-color: #363945;
    }
    select {
        border: 0px !important;
    }
    div#inputsRow {
        margin-top: 1%;
    }
    input#totallWeight {
        border-bottom: 1px dotted #d2d2d2;
    }
    #loading-img {
        z-index: 100;
        background: url("../images/ajax-loading.gif") center center no-repeat;
        height: 100%;
    }
    .overlay {
        background: #e9e9e9;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }
</style>
<!-- #endregion -->
