@model List<MAMS_Models.Model.Expense>
@{
    ViewData["Title"] = "Expense";
}

<script src="~/js/ToolTip.js"></script>

<!-- #region  Customer List  -->
<div id="divDetails" class="col-md-12 col-sm-12">
    <div class="card ">
        <div class="card-header card-header-primary">
            <h5 class="card-title"><i class="material-icons" style="vertical-align: sub;">list</i> Expense List</h5>
            @*<p class="card-category">Complete your profile</p>*@
        </div>
        <div class="card-body">
            <a asp-action="ExpenseAdd" asp-controller="Expense" class="btn btn-success btn-circle" style="margin-left: 10px;  font-size: 11px"> <i class="fa fa-plus-circle" style="vertical-align: middle;"></i> Add Expense</a>
            <div class="table-responsive" style="height:600px">
                <table class="table" id="tblDetailList">
                    <thead class=" text-primary">
                        <tr>
                            <th width="3%" tabindex="0" class="bold" aria-controls="tblDetailList" rowspan="1"
                                colspan="1">
                                # &nbsp;
                            </th>
                            <th width="10%" tabindex="0" class="bold"
                                arial-sort="descending" aria-controls="tblDetailList" rowspan="1" colspan="1">
                                Description
                            </th>
                            <th width="10%" tabindex="0" class="bold"
                                arial-sort="descending" aria-controls="tblDetailList" rowspan="1" colspan="1">
                                Amount
                            </th>
@* 
                            <th width="10%" tabindex="0" class="bold"
                                arial-sort="descending" aria-controls="tblDetailList" rowspan="1" colspan="1">
                                Type
                            </th> *@


                            <th width="10%" tabindex="0" class="bold"
                                arial-sort="descending" aria-controls="tblDetailList" rowspan="1" colspan="1">
                                Created Date
                            </th>
                            <th width="10%" tabindex="0" class="bold"
                                arial-sort="descending" aria-controls="tblDetailList" rowspan="1" colspan="1">
                                Created By
                            </th>
                            <th width="10%" tabindex="0" class="sorting bold" aria-controls="tblDetailList" rowspan="1" colspan="1"> Actions&nbsp;&nbsp;&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int num = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td width="10%" tabindex="0" class="sorting" aria-controls="tblDetailList" rowspan="1" colspan="1"> &nbsp;@num</td>
                                <td width="10%" tabindex="0" class="sorting" aria-controls="tblDetailList" rowspan="1" colspan="1" style="display:none;"> &nbsp;@item.UID</td>
                                <td width="10%" tabindex="0" class="sorting" aria-controls="tblDetailList" rowspan="1" colspan="1"> &nbsp;@item.ExpDescription</td>
                                <td width="10%" tabindex="0" class="sorting" aria-controls="tblDetailList" rowspan="1" colspan="1"> &nbsp;@item.Amount</td>
                          @*       <td width="10%" tabindex="0" class="sorting" aria-controls="tblDetailList" rowspan="1" colspan="1"> &nbsp;@item.Type</td> *@

                                <td width="10%" tabindex="0" class="sorting" aria-controls="tblDetailList" rowspan="1" colspan="1"> &nbsp;@item.CreatedDate.ToString("dd/M/yyyy")</td>
                                <td width="10%" tabindex="0" class="sorting" aria-controls="tblDetailList" rowspan="1" colspan="1"> &nbsp;@item.CreatedBy</td>
                                <td width="10%" tabindex="0" class="sorting" aria-controls="datatable_orders" rowspan="1" colspan="1">
                                    <a asp-action="ExpenseEdit" asp-controller="Expense" asp-route-Id="@item.UID" class=" btn btn-circle btn-sm"><i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit Expense"></i></a>
                                    <a class="btn btn-circle btn-sm" name="btnDel" id="@item.UID"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete Expense"></i></a>
                                </td>
                            </tr>
                            num++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region  alert -->
<div id="alertSuccess" data-notify="container" class="col-11 col-md-4 alert alert-success alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; left: 0px; right: 0px;">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
        <i class="material-icons">close</i>
    </button><i data-notify="icon" class="material-icons">add_alert</i><span data-notify="title"></span> <span data-notify="message"><b>Expense</b> <br>Expense Delete successfuly!</span>
    <a href="" target="_blank" data-notify="url"></a>
</div>
<!-- #region Scripts -->
@section Scripts {



}
<!-- #endregion -->
<!-- #region   javascript -->
<script type="text/javascript">
    $("#alertSuccess").hide();
    $("#alertDanger").hide();
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("#tblDetailList").on('click', "a[name='btnDel']", function () {
            
            var uId = $.trim($(this).closest('tr').find("td:eq(1)").text());
            $.confirm({

                theme: 'modern',
                title: 'DELETE!',
                content: 'Are you sure you want to delete?',
                type: 'green',
                typeAnimated: true,
                buttons:
                {
                    tryAgain:
                    {
                        text: 'No',
                        btnClass: 'btn-green',
                    },
                    warning:
                    {
                        text: 'Yes',
                        btnClass: 'btn-blue',
                        action: function () {
                           

                            $.ajax({

                                type: "post",
                                url: "/Expense/DeleteExpense",
                                data: { UID: uId },
                                success: function (data) {
                                    console.log(data);

                                    $('#alertSuccess').show();
                                    setTimeout(function () {
                                        window.location.href = '/Expense/Index';
                                    }, 2000);
                                }
                            });
                        }
                    }
                }
            });
        });
    });
</script>
<!-- #endregion -->
<!-- #region Style -->
<style>
    a.btn.btn-circle.btn-sm {
        border: 0px;
        background-color: rgb(204 204 204 / 15%);
        font-size: 10px;
        color: darkgreen;
        padding: 5px
    }
</style>
<!-- #endregion -->
