@model MAMS_Models.Model.Documents
@{
    var status = ViewBag.UploadImageStatus;

}

@{
    ViewData["Title"] = " UploadImage";
}


<script src="~/js/jquery-191-min.js"></script>

<div class="container mt-5">
    <div class="card">
        <div class="card-header card-header-primary bg-primary text-white">
            <h5 class="card-title"><i class="fa fa-pencil-square-o"></i> Image Upload </h5>
        </div>
        <div class="card-body">
            <form id="ImageAddForm" enctype="multipart/form-data" action="/Image/ImageAdd" method="post">
                <div class="form-group">
                    <label for="UserFile">Select images to upload</label>
                    <input type="file" name="UserFile" id="UserFile" multiple class="form-control-file" required />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/bootstrap-notify.js"></script>
}
<script type="text/javascript">

</script>
<!-- #endregion -->
<!-- #region   Style/CSS -->
<style>
    input#idPricePerKG {
        padding-left: 0px;
    }

    input {
        text-align: center;
    }

    .validation {
        color: red;
        margin-bottom: 20px;
    }

    input#idTotalExpense {
        min-width: 60px;
        max-width: 120px;
        /*margin-left: 110px;*/
        margin-top: -36px;
    }

    label#idLblPrcWithExp {
        margin-top: 35px;
    }

    input#idPriceWithExpense {
        /* padding-left: 130px;*/
        font-weight: 600;
    }

    #idLblPriceWithExpense {
        margin-top: -20px;
    }

    input#totallWeight {
        /*  padding-left: 155px;*/
        font-weight: 600;
    }

    input#totallPrice {
        /*padding-left: 50px;*/
        font-weight: 600;
    }

    i.fa.fa-plus {
        font-size: 15px !important;
    }

    #btnSave {
        background-color: #35663b;
    }

    #btnBack {
        background-color: #35663b;
    }

    #btnAdd {
        background-color: #2e9ead;
        border-color: #0cb9cf;
        color: white;
    }

    i.material-icons {
        float: left;
    }

    input.form-control {
        border: 0px;
    }

    label {
        font-size: 16px;
    }

    option {
        color: #fff;
        background-color: #363945;
    }

    select {
        border: 0px !important;
    }

    div#inputsRow {
        margin-top: 1%;
    }

    input#totallWeight {
        border-bottom: 1px dotted #d2d2d2;
    }

    #loading-img {
        z-index: 100;
        background: url("../images/ajax-loading.gif") center center no-repeat;
        height: 100%;
    }

    .overlay {
        background: #e9e9e9;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }
</style>
<!-- #endregion -->
