@model MAMS_Models.Model.CropAndBag
@{ var status = ViewBag.CropAddStatus; }
@{
    ViewData["Title"] = "Add Crop";
}

<script src="~/js/jquery-191-min.js"></script>

<!-- #region    Add Crop Form -->

<div class="card">
    <div class="card-header card-header-primary">
        <h5 class="card-title"><i class="fab fa-canadian-maple-leaf"></i> Add Crop</h5>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" asp-action="CropAdd" asp-controller="Crop" method="post">
            <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label class="control-label bold">Name</label>
                        <input type="text" asp-for="Name" class="form-control form-control-inline" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" required>

                        <select class="form-select form-control" required id="slctType" asp-for="Type">
                            <option value="">Select Type</option>
                            <option value="Crop">Crop</option>
                            <option value="Bag">Bag</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <div class="checkbox margin-top-30 ml-10">
                            @*<label asp-for="Status">
                                <input asp-for="Status" checked />
                                @Html.DisplayNameFor(x => x.Status)
                            </label>*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <a type="button" id="btnBack" class="btn btn-success btn-round float-right" asp-controller="Crop" asp-action="Index">
                        <i class="fa fa-arrow-left"></i> Back
                    </a>
                </div>
                <div class="form-group">
                    <button type="submit" id="idAdd" class="btn btn-success btn-round btn-success">
                        <i class="fa fa-plus-circle"></i> Add
                    </button>
                    <div class="clearfix"></div>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>

<!-- #endregion -->
<!-- #region alert -->

<div id="alertSuccess" data-notify="container" class="col-11 col-md-4 alert alert-success alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; left: 0px; right: 0px;">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
        <i class="material-icons">close</i>
    </button><i data-notify="icon" class="material-icons">add_alert</i><span data-notify="title"></span> <span data-notify="message"><b>Crop</b> <br>New Crop added successfuly!</span>
    <a href="#" target="_blank" data-notify="url"></a>
</div>
<div id="alertDanger" data-notify="container" class="col-11 col-md-4 alert alert-danger alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; left: 0px; right: 0px;">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
        <i class="material-icons">close</i>
    </button><i data-notify="icon" class="material-icons">add_alert</i><span data-notify="title"></span> <span data-notify="message"><b>Crop</b> <br>New Crop added not successfuly!</span>
    <a href="#" target="_blank" data-notify="url"></a>
</div>
<!-- #endregion -->
<!-- #region script -->

<script type="text/javascript">
    $("#alertSuccess").hide();
    $("#alertDanger").hide();
    var status = ('@status');
    if (status == "1")
    {
        $("#alertSuccess").show();
        setTimeout(function () {
            $("#alertSuccess").hide();
        }, 3000);
    }
    if (status == "0")
    {
        $("#alertDanger").show();
        setTimeout(function () {
            $("#alertDanger").hide();
        }, 3000);
    }
</script>
<!-- #endregion -->
<!-- #region Style -->
<style>
    input#Name {
        border: 0px;
    }

    .form-group .bmd-label-static {
        top: 0px;
    }

    .checkbox.margin-top-30.ml-10 {
        margin-top: 20px;
    }

    input#Status {
        width: 20px;
        display: inline;
    }

    a#btnBack {
        height: 30px;
        line-height: 1;
    }

    button#idAdd {
        height: 30px !important;
        line-height: 1px !important;
        padding-bottom: 11px;
    }

    i.fa.fa-plus-circle {
        font-size: 16px !important;
    }

    i.fa.fa-arrow-left {
        font-size: 15px !important;
    }

    select {
        border: 0px !important;
    }

    label {
        font-size: 16px;
    }

    option {
        color: #fff;
        background-color: #363945;
    }
</style>
<!-- #endregion -->