@model MAMS_Models.Model.Customer
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Preview</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #imagePreview img {
            max-width: 150px;
            margin: 10px;
        }

        .document-area {
            border: 1px solid #d2d2d2;
            padding: 15px;
            border-radius: 4px;
        }

        .image-container:hover .delete-button {
            display: block;
        }

        .image-container {
            display: inline-block;
            position: relative;
            margin: 10px;
        }

        .remove-button {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 22px;
            font-size: 14px;
        }
    </style>
</head>
<script src="~/js/jquery-191-min.js"></script>
<!-- #region Farmer detail form -->
<div class="row" style=" margin-bottom: 10%;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h5 class="card-title"><i class="fa fa-edit"></i> Edit Customer</h5>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="CustomerEdit" asp-controller="Customer" method="post">
                    <input type="text" asp-for="UID" class="form-control" style="display:none">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Customer Name</label>
                                <input type="text" asp-for="Name" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Phone</label>
                                <input type="text" asp-for="Phone" min="0" max="2147483647" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                <input type="text" asp-for="Email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">CNIC</label>
                                <input type="text" asp-for="CNIC" min="0" max="2147483647" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">City</label>
                                <input type="text" asp-for="City" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Country</label>
                                <input type="text" asp-for="Country" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select class="form-control" required id="cusSlct" onchange="getval(this);" asp-for="CusType">
                                    <option value="">Select Customer Type</option>
                                    <option value="Merchant">Merchant</option>
                                    <option value="Farmer">Farmer</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Shop Name</label>
                                <input type="text" asp-for="ComShopName" class="form-control" disabled id="idShopName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Complete Adress</label>
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" asp-for="ComAddress"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Documents Area</label>
                                <div class="form-group document-area">

                                    <!-- Display Uploaded Images -->
                                    <div class="form-group">
                                        <div id="imagePreview" class="mb-3">
                                            @if (Model.UserFilesUrl != null && Model.UserFilesUrl.Any())
                                            {
                                                @foreach (var fileUrl in Model.UserFilesUrl)
                                                {
                                                    var directUrl = fileUrl.Replace("/view?usp=drivesdk", "/preview");
                                                    <div class="image-container" style="position: relative; display: inline-block;">
                                                        <iframe src="@directUrl" width="300" height="200" frameborder="0"></iframe>
                                                        <button class="delete-button" type="button" onclick="deleteImage(this)" style="position: absolute; top: 10px; right: 10px; background-color: red; color: white; border: none; padding: 5px; cursor: pointer; display: none;">&#x2716;</button>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <p>No files to display</p>
                                            }
                                        </div>
                                    </div>

                                    <!-- File Upload -->
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <!-- File input for uploading images -->
                                            <input type="file" class="custom-file-input" name="UserFiles" id="UserFiles" multiple>
                                            <label class="custom-file-label" for="UserFiles">Choose files</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row float-right">
                        <div class="form-group">
                            <a type="button" class="btn btn-success btn-round float-right" asp-controller="Customer" asp-action="Index">
                                <i class="fa fa-arrow-left"></i> Back
                            </a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-round btn-success">
                                <i class="fa fa-plus-circle"></i> Update
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- #endregion -->
<!-- #region  javascript-->
<script type="text/javascript">
    function deleteImage(button) {
        if (confirm("Are you sure you want to delete this image?")) {
            var imageContainer = button.parentElement;
            imageContainer.remove();
            // Optionally, send a request to the server to delete the image from the database or storage
        }
    }
    function getval(sel) {

        var CheckCust = $('#cusSlct').val();
        if (CheckCust != null && CheckCust == "Merchant") {
            $("#idShopName").removeAttr("disabled");
        }
        else {
            $("#idShopName").val("");
            $("#idShopName").prop("disabled", true);
        }
    }
    document.getElementById('UserFiles').addEventListener('change', function (event) {
        const files = event.target.files;
        const imagePreview = document.getElementById('imagePreview');

        imagePreview.innerHTML = ''; // Clear existing previews

        for (const file of files) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.classList.add('img-thumbnail');
                imagePreview.appendChild(img);
            };
            reader.readAsDataURL(file);
        }
    });
    document.getElementById('UserFiles').addEventListener('change', function (event) {
        var input = event.target;
        var label = input.nextElementSibling;
        var fileName = input.files.length > 0 ? Array.from(input.files).map(file => file.name).join(', ') : 'Choose files';
        label.textContent = fileName;
    });

</script>
<!-- #endregion -->
<!-- #region   Style/CSS -->
<style>
    #cusSlct {
        border: 0px !important;
    }

    .card-header.card-header-primary {
        padding: 10px !important;
    }

    /* i.material-icons {
            float: left;
        }*/

    input.form-control {
        border: 0px !important;
    }

    .form-control[disabled], fieldset[disabled] .form-control, .form-group .form-control[disabled], fieldset[disabled] .form-group .form-control {
        border-bottom: 1px dotted #d2d2d2 !important;
    }

    option {
        background-color: black;
        color: white;
    }

    i.fa.fa-edit {
        font-size: 16px !important;
    }

    i.fa.fa-arrow-left {
        font-size: 15px !important;
    }
</style>
<!-- #endregion -->