@model MAMS_Models.Model.Customer

<!-- #region Farmer detail form -->
<div class="row" style=" margin-bottom: 10%;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h5 class="card-title"><i class="fa fa-edit"></i> Edit Customer</h5>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="CustomerEdit" asp-controller="Customer" method="post">
                    <input type="text" asp-for="UID" class="form-control" style="display:none">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Customer Name</label>
                                <input type="text" asp-for="Name" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Phone</label>
                                <input type="text" asp-for="Phone" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                <input type="text" asp-for="Email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">CNIC</label>
                                <input type="text" asp-for="CNIC" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">City</label>
                                <input type="text" asp-for="City" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Country</label>
                                <input type="text" asp-for="Country" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select class="form-control" required id="cusSlct" onchange="getval(this);" asp-for="CusType">
                                    <option value="">Select Customer Type</option>
                                    <option value="Merchant">Merchant</option>
                                    <option value="Farmer">Farmer</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Shop Name</label>
                                <input type="text" asp-for="ComShopName" class="form-control" disabled id="idShopName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Complete Adress</label>
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" asp-for="ComAddress"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row float-right">
                        <div class="form-group">
                            <a type="button" class="btn btn-success btn-round float-right" asp-controller="Customer" asp-action="Index">
                                <i class="fa fa-arrow-left"></i> Back
                            </a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-round btn-success">
                                <i class="fa fa-plus-circle"></i> Update
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- #endregion -->
<!-- #region  javascript-->
<script type="text/javascript">
    function getval(sel) {
        
        var CheckCust = $('#cusSlct').val();
        if (CheckCust != null && CheckCust == "Merchant") {
            $("#idShopName").removeAttr("disabled");
        } else {
            $("#idShopName").val("");
            $("#idShopName").prop("disabled", true);
        }
    }</script>
<!-- #endregion -->
<!-- #region   Style/CSS -->
<style>
    #cusSlct {
        border: 0px !important;
    }

    .card-header.card-header-primary {
        padding: 10px !important;
    }

   /* i.material-icons {
        float: left;
    }*/

    input.form-control {
        border: 0px !important;
    }

    .form-control[disabled], fieldset[disabled] .form-control, .form-group .form-control[disabled], fieldset[disabled] .form-group .form-control {
        border-bottom: 1px dotted #d2d2d2 !important;
    }

    option {
        background-color: black;
        color: white;
    }
    i.fa.fa-edit {
        font-size: 16px !important;
    }
    i.fa.fa-arrow-left {
        font-size: 15px !important;
    }
</style>
<!-- #endregion -->